{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": ["airbnb", "prettier", "plugin:jsx-a11y/recommended", "plugin:react-hooks/recommended"],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"],
                "moduleDirectory": ["node_modules", "src/"]
            }
        }
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "impliedStrict": true
        },
        "ecmaVersion": 12
    },
    "plugins": ["prettier", "react", "react-hooks"],
    "globals": {
        "React": true,
        "mount": true,
        "mountWithRouter": true,
        "shallow": true,
        "shallowWithRouter": true,
        "context": true,
        "expect": true,
        "jsdom": true,
        "JSX": true
    },
    "rules": {
        "react/function-component-definition": [
            2,
            {
                "namedComponents": "arrow-function",
                "unnamedComponents": "arrow-function"
            }
          ],

        "react/jsx-filename-extension": 0,
        "no-param-reassign": 0,
        "react/prop-types": 1,
        "react/require-default-props": 0,
        "react/no-array-index-key": 0,
        "react/jsx-props-no-spreading": 0,
        "spaced-comment": 0,        // http://eslint.org/docs/rules/spaced-line-comment
        "react/forbid-prop-types": 0,
        "no-console": 0,
        "jsx-a11y/anchor-is-valid": 0,
        "no-shadow": 0,
        "no-use-before-define": 0,
        "import/extensions": [
            "error",
            "ignorePackages",
            {
              "js": "never",
              "jsx": "never",
              "ts": "never",
              "tsx": "never"
            }
         ],
         "import/no-unresolved": [
            2, 
            { "caseSensitive": false }
         ],
        "no-unused-vars": [
            1,
            {
                "ignoreRestSiblings": false
            }
        ]
       
    }
}